section(class="mt-32") 
	.container(class="flex flex-col lg:flex-row space-x-[23px]") 
		.last-magazine(class="relative flex flex-col justify-start items-center lg:min-w-[466px] h-max xl:h-auto gap-2.5 px-[10px] py-3.5  rounded-[25px] bg-white border-[5px] border-[#ffd9da]")
			div(class="absolute -left-[28px] top-1/2 -translate-y-1/2 flex justify-center items-center w-[98px] h-[41px] gap-2.5 px-[27px] py-[15px] rounded-tl-[25px] rounded-tr-[25px] bg-[#db0d15] rotate-90")
				span(class="flex-grow-0 flex-shrink-0 text-base font-bold text-justify text-white ") Son Sayı 
			div

				figure 
					img(src="/src/images/image-1.png", alt="")
				div(class="flex justify-center mt-[25px] space-x-[7px]") 

					+buttonGeneral("", {
						href: "javascript:;", 
						variant: "white",
						extraClass: "rounded-full w-auto aspect-square hvr-fade !px-0 justify-center",
						icon: '<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-black group-hover:fill-white grow-0-shrink-0 w-[18px] h-[18px] relative" preserveAspectRatio="xMidYMid meet"><path d="M16.8574 11.085C17.4858 11.0851 17.9999 11.6018 18 12.2334C18 15.4153 15.4227 18 12.2627 18H5.7373C2.57159 18 0 15.4095 0 12.2334C0.000120876 11.6018 0.514207 11.0851 1.14258 11.085C1.77108 11.085 2.28601 11.6017 2.28613 12.2334C2.28613 14.146 3.83445 15.7031 5.7373 15.7031H12.2627C14.1656 15.7031 15.7139 14.146 15.7139 12.2334C15.714 11.6017 16.2289 11.085 16.8574 11.085ZM9.0166 0C9.68517 0 10.2285 0.551413 10.2285 1.21191V9.52832L13.7422 6.04199C14.2108 5.57677 15.0285 5.57677 15.4971 6.04199C15.9827 6.53015 15.9827 7.30563 15.4971 7.78809L10.0225 13.2217C9.82252 13.4341 9.58836 13.6698 9.1543 13.7617C9.08016 13.7846 9.00578 13.7842 8.93164 13.7842C8.40617 13.7842 8.02875 13.4056 7.88574 13.2676V13.2617L2.52539 7.94336C2.27968 7.70213 2.14272 7.34547 2.14844 6.99512C2.15429 6.64493 2.32026 6.30667 2.58301 6.07129C3.09717 5.62342 3.8795 5.63997 4.36523 6.12207L7.79395 9.52832V1.21191C7.79395 0.540027 8.34816 0.000161438 9.0166 0Z"></path></svg>'
						})

					+buttonGeneral("Görüntüle", {
						href: "javascript:;", 
						variant: "blue",
						icon: '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-white group-hover:fill-blue grow-0 shrink-0" preserveAspectRatio="xMidYMid meet"><path d="M15.9639 7.81854C15.8593 7.309 15.5836 7.03981 15.3364 6.80907L9.03257 0.425417C8.4716 -0.141806 7.56835 -0.141806 7.00738 0.425417C6.73165 0.694607 6.58903 1.05994 6.58903 1.45411C6.58903 1.83867 6.74115 2.204 7.00738 2.4828L11.0578 6.57834H1.39767C0.627526 6.57834 0 7.21286 0 8.0012C0 8.78954 0.627526 9.41445 1.39767 9.41445H11.0578L7.10245 13.4138C6.54148 13.9811 6.52247 14.8944 7.04541 15.4905C7.32114 15.7981 7.71097 15.9904 8.11981 16H8.16735C8.56668 16 8.93749 15.8462 9.22273 15.5578L15.4029 9.3087C15.5836 9.12603 16.1255 8.57804 15.9734 7.82815L15.9639 7.81854Z"></path></svg>', 
						iconPos: "right"})

		.current-articles(class="w-full mt-[25px]")
			div.current-article-header(class="lg:flex flex-col lg:flex-row justify-between mb-11") 
				div
					+headline("Profuture Teknoloji Dergisi", {tag: "h3", extraClass:"font-medium !text-[22px] text-[#676a73]"})
					+headline("Güncel Yazılar", {tag: "h2", extraClass:"text-[#db0d15]"})

				+buttonGeneral("Tümünü Görüntüle", {
					href: "javascript:;", 
					variant: "white",
					icon: '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-black group-hover:fill-white grow-0 shrink-0" preserveAspectRatio="xMidYMid meet"><path d="M15.9639 7.81854C15.8593 7.309 15.5836 7.03981 15.3364 6.80907L9.03257 0.425417C8.4716 -0.141806 7.56835 -0.141806 7.00738 0.425417C6.73165 0.694607 6.58903 1.05994 6.58903 1.45411C6.58903 1.83867 6.74115 2.204 7.00738 2.4828L11.0578 6.57834H1.39767C0.627526 6.57834 0 7.21286 0 8.0012C0 8.78954 0.627526 9.41445 1.39767 9.41445H11.0578L7.10245 13.4138C6.54148 13.9811 6.52247 14.8944 7.04541 15.4905C7.32114 15.7981 7.71097 15.9904 8.11981 16H8.16735C8.56668 16 8.93749 15.8462 9.22273 15.5578L15.4029 9.3087C15.5836 9.12603 16.1255 8.57804 15.9734 7.82815L15.9639 7.81854Z"></path></svg>', 
					iconPos: "right"})
			div.aticle-list(class="space-y-5")
				each val, index in Array(4) 
					div.article-card(class="p-[20px] rounded-[20px] bg-white border-2 border-[#dfe3f1] shadow-[0_5px_15px_0_rgba(188,188,188,0.25)]")
						//- Tags
						.tag-list(class="flex flex-row mb-[11px] space-y-[9x] lg:space-x-[11px] lg:space-y-0")
							
							span(class="inline-flex justify-center items-center relative px-2.5 py-[3px] rounded-lg bg-[#273d89] text-sm text-center text-white") İklim
							
							span(class="inline-flex justify-center items-center relative px-2.5 py-[3px] rounded-lg bg-[#F6F8FF] text-sm text-center text-[#112053]") Araştırma Makalesi
						
						.content(class="flex flex-col xl:flex-row")
							//- Left Content
							.content-left(class="xl:w-7/1 mb-4 xl:mb-0")
								div(class="flex mb-[11px]")
									svg(
										width="22"
										height="25"
										viewBox="0 0 22 25"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
										class="flex-grow-0 flex-shrink-0 w-[22px] h-[25px] relative"
										preserveAspectRatio="xMidYMid meet")
									
										path(
											d="M7.59982 4.43729C7.58985 4.3573 7.57515 4.29224 7.55573 4.23731C7.53631 4.18239 7.50639 4.13706 7.47228 4.09226C7.34893 3.93228 7.16207 3.85229 6.9159 3.85229H6.34955V6.36931H6.9159C7.16207 6.36931 7.34945 6.29412 7.47228 6.13414C7.50692 6.08934 7.53631 6.03922 7.55573 5.98429C7.57568 5.93416 7.59037 5.8643 7.59982 5.78911C7.6098 5.70912 7.61977 5.619 7.61977 5.50382C7.62449 5.39343 7.62449 5.26331 7.62449 5.11347C7.62449 4.96362 7.62449 4.82817 7.61977 4.71832C7.61977 4.60847 7.6098 4.51301 7.59982 4.43835V4.43729Z"
											fill="#676A73")

										path(
											d="M3.60018 3.85181H2.90576V4.91247H3.60018C3.76762 4.91247 3.90567 4.86234 4.00434 4.76742C4.09777 4.6725 4.14711 4.54238 4.14711 4.3872C4.14711 4.22722 4.09777 4.09711 4.00434 4.00165C3.90567 3.9014 3.76815 3.85181 3.60018 3.85181Z"
											fill="#676A73")

										path(
											d="M13.4019 4.97057C13.4019 3.28812 12.0597 1.92456 10.4037 1.92456H2.99814C1.34213 1.92456 0 3.28812 0 4.97057C0 6.65302 1.34213 8.01658 2.99814 8.01658H10.4032C12.0592 8.01658 13.4013 6.65302 13.4013 4.97057H13.4019ZM4.80741 4.84739C4.7481 4.99723 4.66937 5.12255 4.56124 5.23294C4.45259 5.34332 4.3198 5.43291 4.16706 5.49317C4.00959 5.55823 3.83218 5.58809 3.63535 5.58809H2.90628V7.04444H2.16252V3.18093H3.63535C3.83218 3.18093 4.00959 3.2108 4.16706 3.27585C4.3198 3.33611 4.45259 3.42623 4.56124 3.53609C4.66937 3.64594 4.74863 3.77606 4.80741 3.92164C4.86148 4.06669 4.89087 4.22187 4.89087 4.38718C4.89087 4.54716 4.86148 4.70234 4.80741 4.84739ZM8.36351 5.5481C8.35878 5.68301 8.35353 5.80353 8.33884 5.91338C8.32414 6.02324 8.29947 6.12349 8.26483 6.21841C8.23019 6.30853 8.18609 6.39865 8.12678 6.47864C7.99399 6.67382 7.83127 6.81887 7.64914 6.90899C7.46175 6.99911 7.24025 7.04391 6.97939 7.04391H5.60996V3.18093H6.97939C7.24025 3.18093 7.46228 3.22573 7.64914 3.31585C7.83127 3.40597 7.99399 3.55102 8.12678 3.74619C8.18609 3.82618 8.23019 3.91631 8.26483 4.00643C8.29947 4.10135 8.32414 4.2016 8.33884 4.31145C8.35353 4.42184 8.35878 4.54183 8.36351 4.67674C8.36823 4.80686 8.36823 4.95191 8.36823 5.11242C8.36823 5.2724 8.36823 5.41745 8.36351 5.54756V5.5481ZM9.77702 7.04444H9.03326V3.18093H11.5406V3.85125H9.77702V4.80206H11.2792V5.47771H9.77702V7.04391V7.04444Z"
											fill="#676A73")

										path(
											d="M22 5.10228C22 2.28931 19.7472 0 16.9779 0H13.9645C13.4097 0 12.9599 0.456475 12.9599 1.02067C12.9599 1.58486 13.4097 2.04134 13.9645 2.04134H16.9779C18.6397 2.04134 19.9913 3.4145 19.9913 5.10281V19.8988C19.9913 21.5871 18.6397 22.9603 16.9779 22.9603H8.94297C7.28118 22.9603 5.92961 21.5871 5.92961 19.8988V11.2252C5.92961 10.661 5.47978 10.2046 4.92498 10.2046C4.37017 10.2046 3.92035 10.661 3.92035 11.2252V19.8988C3.92035 22.7118 6.17315 25.0011 8.94244 25.0011H16.9774C19.7461 25.0011 21.9995 22.7123 21.9995 19.8988V5.10228H22Z"
											fill="#676A73")

										path(
											d="M14.0711 9.71973C14.0663 9.56775 14.0443 9.42537 14.006 9.29258C13.9482 9.07928 13.8511 8.88997 13.7163 8.73532C13.7163 8.73532 13.7147 8.73372 13.7115 8.73052C13.4963 8.48522 13.1971 8.34497 12.8922 8.34497C12.5872 8.34497 12.3027 8.47989 12.097 8.72785C11.8939 8.97316 11.7852 9.30965 11.7805 9.7048C11.7731 10.3085 11.8214 10.8806 11.9232 11.4086C11.9327 11.4502 11.94 11.4923 11.95 11.5339C12.0513 12.0128 12.2014 12.4666 12.3946 12.8889C12.1673 13.3577 11.9379 13.7629 11.7784 14.0376C11.6577 14.2461 11.5249 14.4647 11.3868 14.6834C10.7659 14.7964 10.2389 14.934 9.78014 15.1057C9.15921 15.3339 8.66162 15.6283 8.30364 15.9797C8.07165 16.2053 7.91471 16.4463 7.83702 16.6964C7.75462 16.954 7.75986 17.2121 7.85172 17.4425C7.93623 17.6558 8.08844 17.8355 8.29157 17.9581C8.33986 17.9875 8.39078 18.012 8.44379 18.0344C8.59863 18.0984 8.76764 18.1325 8.944 18.1325C9.35236 18.1325 9.7728 17.9533 10.1281 17.6318C10.79 17.0303 11.4739 16.0634 11.8776 15.4518C12.2088 15.4001 12.5689 15.3558 12.9746 15.3121C13.4533 15.263 13.8758 15.2337 14.26 15.2188C14.3787 15.327 14.492 15.4299 14.6007 15.5281C15.2048 16.0757 15.6636 16.4709 16.0793 16.7482C16.0793 16.7508 16.0819 16.7508 16.084 16.7508C16.2483 16.8612 16.4052 16.9519 16.5622 17.026C16.7385 17.1097 16.9175 17.1534 17.1012 17.1534C17.3332 17.1534 17.5505 17.0825 17.7316 16.9524C17.9153 16.8175 18.0481 16.6234 18.1085 16.4047C18.1788 16.1424 18.1374 15.8501 17.9925 15.5872C17.9127 15.4449 17.804 15.3099 17.6686 15.1873C17.5574 15.0844 17.4272 14.9884 17.2797 14.8999C16.6855 14.5442 15.8373 14.3719 14.6847 14.3719H14.5687C14.5057 14.3133 14.4406 14.2541 14.3729 14.1928C13.9357 13.7928 13.5877 13.3582 13.3168 12.8745C13.8485 11.6837 14.102 10.6236 14.0705 9.72026L14.0711 9.71973ZM10.2315 16.2986C9.99955 16.5834 9.77752 16.8239 9.57649 17.0057C9.40485 17.163 9.21642 17.2612 9.03743 17.2857C9.00594 17.2905 8.97445 17.2932 8.94295 17.2932C8.78601 17.2932 8.65794 17.2292 8.6191 17.131C8.57816 17.0281 8.62382 16.8292 8.87524 16.5834C9.25946 16.2101 9.86098 15.9157 10.6992 15.6923C10.5397 15.9131 10.3827 16.1146 10.2305 16.2986H10.2315ZM16.8619 15.6235C16.9994 15.7046 17.1033 15.7878 17.1737 15.8688C17.2897 15.9941 17.3306 16.1072 17.3091 16.1829C17.2897 16.2592 17.2052 16.3104 17.1012 16.3104C17.0409 16.3104 16.9779 16.2954 16.9128 16.264C16.8015 16.2101 16.6855 16.1434 16.5622 16.0629C16.5575 16.0629 16.5527 16.0581 16.5475 16.0533C16.2598 15.8667 15.9386 15.6043 15.5423 15.2529C16.1055 15.3115 16.5475 15.4369 16.8614 15.6235H16.8619ZM12.6066 9.71493C12.6114 9.39817 12.7253 9.18486 12.8917 9.18486C13.0171 9.18486 13.1504 9.30005 13.2108 9.52135C13.2276 9.58748 13.2397 9.66374 13.2423 9.74959C13.247 9.85251 13.2449 9.96076 13.2397 10.0711C13.225 10.3831 13.1719 10.7143 13.0801 11.0705C13.0245 11.2987 12.952 11.5371 12.8628 11.7851C12.7615 11.4363 12.6885 11.0657 12.6502 10.6705C12.6166 10.366 12.6019 10.0493 12.6066 9.71546V9.71493ZM13.4018 14.3959L13.363 14.3986L13.3966 14.4306C13.2974 14.4381 13.1935 14.4477 13.0895 14.4578C13.0245 14.4653 12.9567 14.4701 12.889 14.4775C12.7489 14.4924 12.6114 14.5068 12.4807 14.5218L12.4975 14.4946L12.4707 14.4994C12.4754 14.4871 12.4828 14.4749 12.4901 14.4653C12.5914 14.2909 12.7195 14.0674 12.8575 13.8099L12.8696 13.8371L12.9011 13.7709C13.0024 13.9181 13.1137 14.0632 13.2297 14.2029C13.2853 14.269 13.3431 14.333 13.4013 14.397L13.4018 14.3959Z"
											fill="#676A73")
										
									+headline("Türkiye’nin Teknoloji Politikaları ve Döngüsel Ekonomi", {tag: "h3", extraClass:"ml-[11px] !text-xl font-bold text-left !text-[#2a2c31]"})
								div(class="flex flex-col xl:flex-row space-x-[25px] space-y-[25px] lg:space-y-0 w-full ") 
									div(class="flex") 
										span(class="flex justify-center items-center size-6.5 rounded-[13px] bg-[#f0f0f3]")
											svg(
												width="12"
												height="15" 
												viewBox="0 0 12 15"
												fill="none"
												xmlns="http://www.w3.org/2000/svg"
												class="flex-grow-0 flex-shrink-0"
												preserveAspectRatio="none")
												path(
													d="M10.3636 15H3.81818C3.6733 15 3.5348 14.9435 3.43253 14.8431L0.159801 11.6288C0.0575287 11.5283 0 11.392 0 11.25V3.75C0 2.86377 0.73402 2.14286 1.63636 2.14286H4.36364V0.535714C4.36364 0.239868 4.6076 0 4.90909 0H7.09091C7.3924 0 7.63636 0.239868 7.63636 0.535714V2.14286H10.3636C11.266 2.14286 12 2.86377 12 3.75V13.3929C12 14.2791 11.266 15 10.3636 15ZM4.36364 13.9286H10.3636C10.6646 13.9286 10.9091 13.6882 10.9091 13.3929V3.75C10.9091 3.45468 10.6646 3.21429 10.3636 3.21429H7.63636V4.28571C7.63636 4.58156 7.3924 4.82143 7.09091 4.82143H4.90909C4.6076 4.82143 4.36364 4.58156 4.36364 4.28571V3.21429H1.63636C1.3354 3.21429 1.09091 3.45468 1.09091 3.75V10.7143H3.27273C3.87411 10.7143 4.36364 11.1948 4.36364 11.7857V13.9286ZM1.86222 11.7857L3.27273 13.171V11.7857H1.86222ZM5.45455 3.75H6.54545V1.07143H5.45455V3.75ZM9.27273 11.25H6C5.69851 11.25 5.45455 11.0101 5.45455 10.7143C5.45455 10.4184 5.69851 10.1786 6 10.1786H9.27273C9.57422 10.1786 9.81818 10.4184 9.81818 10.7143C9.81818 11.0101 9.57422 11.25 9.27273 11.25ZM9.27273 9.10714H2.72727C2.42578 9.10714 2.18182 8.86727 2.18182 8.57143C2.18182 8.27558 2.42578 8.03571 2.72727 8.03571H9.27273C9.57422 8.03571 9.81818 8.27558 9.81818 8.57143C9.81818 8.86727 9.57422 9.10714 9.27273 9.10714ZM9.27273 6.96429H2.72727C2.42578 6.96429 2.18182 6.72442 2.18182 6.42857C2.18182 6.13273 2.42578 5.89286 2.72727 5.89286H9.27273C9.57422 5.89286 9.81818 6.13273 9.81818 6.42857C9.81818 6.72442 9.57422 6.96429 9.27273 6.96429Z"
													fill="#2A2C31"
												)
										span(class="text-base text-[#2a2c31] ml-[11px]") Sayfa: #[strong 12-28]
									div(class="flex") 
										span(class="flex justify-center items-center size-6.5 rounded-[13px] bg-[#f0f0f3]")
											svg(
												width="15"
												height="15"
												viewBox="0 0 15 15"
												fill="none"
												xmlns="http://www.w3.org/2000/svg"
												class="flex-grow-0 flex-shrink-0 w-[15px] h-[15px] relative"
												preserveAspectRatio="none")
												path(
													d="M12.8235 5.45294L13.8257 4.45074C14.1797 4.09674 14.375 3.62585 14.375 3.12506C14.375 2.62427 14.1797 2.15338 13.8257 1.79938C13.0945 1.06818 11.9055 1.06818 11.1743 1.79938L7.97337 5.00006H3.75C2.02698 5.00006 0.625 6.40204 0.625 8.12506V10.6251C0.625 12.3481 2.02698 13.7501 3.75 13.7501H11.25C12.973 13.7501 14.375 12.3481 14.375 10.6251V8.12506C14.375 6.97985 13.7463 5.99368 12.8235 5.45294ZM12.0581 2.68317C12.1802 2.5614 12.3401 2.50037 12.5 2.50037C12.6599 2.50037 12.8198 2.5614 12.9419 2.68347C13.0603 2.80127 13.125 2.95813 13.125 3.12506C13.125 3.29199 13.0603 3.44885 12.9419 3.56665L9.3866 7.12195C9.28955 7.2193 9.16138 7.28217 9.02466 7.29987L8.22266 7.40241L8.32581 6.59949C8.3429 6.46368 8.40576 6.33521 8.50342 6.23785L12.0581 2.68317ZM13.125 10.6251C13.125 11.659 12.2839 12.5001 11.25 12.5001H3.75C2.71606 12.5001 1.875 11.659 1.875 10.6251V8.12506C1.875 7.09113 2.71606 6.25006 3.75 6.25006H7.12639C7.11132 6.31365 7.09381 6.37671 7.08557 6.44171L6.87988 8.04572C6.85547 8.23767 6.92139 8.43024 7.0581 8.56696C7.1759 8.68506 7.3352 8.75006 7.5 8.75006C7.52624 8.75006 7.5531 8.74854 7.57935 8.74487L9.18335 8.53949C9.59289 8.48731 9.97925 8.29749 10.271 8.00543L11.8955 6.38094C12.61 6.6442 13.125 7.31989 13.125 8.12506L13.125 10.6251ZM11.25 10.6251C11.25 10.9702 10.9705 11.2501 10.625 11.2501H4.375C4.02954 11.2501 3.75 10.9702 3.75 10.6251C3.75 10.2799 4.02954 10.0001 4.375 10.0001H10.625C10.9705 10.0001 11.25 10.2799 11.25 10.6251ZM3.75 8.12506C3.75 7.77991 4.02954 7.50006 4.375 7.50006H5C5.34546 7.50006 5.625 7.77991 5.625 8.12506C5.625 8.47022 5.34546 8.75006 5 8.75006H4.375C4.02954 8.75006 3.75 8.47022 3.75 8.12506Z"
													fill="#2A2C31")

										span(class="text-base text-[#2a2c31] ml-[11px]") Elif Başkaya Acar, Emre Taran, Halil Başar

							//- Right Content (Buttons)
							.content-right(class="flex justify-center lg:justify-end lg:w-3/10 space-x-[7px] mb-5 [&_a_span.text]:hidden lg:[&_a_span.text]:inline-block") 

								+buttonGeneral("", {
									href: "javascript:;", 
									variant: "white",
									extraClass: "rounded-full w-auto aspect-square hvr-fade !px-0 justify-center",
									icon: '<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-black group-hover:fill-white grow-0-shrink-0 w-[18px] h-[18px] relative" preserveAspectRatio="none"><path d="M16.1799 6.1355L14.25 4.78455V2.25C14.25 1.00928 13.2407 0 12 0H4.5C3.25928 0 2.25 1.00928 2.25 2.25V4.78455L0.320069 6.1355C0.119385 6.27576 0 6.50537 0 6.75V12.75C0 14.8176 1.68237 16.5 3.75 16.5H12.75C14.8176 16.5 16.5 14.8176 16.5 12.75V6.75C16.5 6.50537 16.3806 6.27576 16.1799 6.1355ZM4.5 1.5H12C12.4138 1.5 12.75 1.83655 12.75 2.25V7.93437L8.25 11.0845L3.75 7.93433V2.25C3.75 1.83655 4.08618 1.5 4.5 1.5ZM12.75 15H3.75C2.50928 15 1.5 13.9907 1.5 12.75V8.19022L2.5686 8.93829C2.56915 8.93866 2.56952 8.93921 2.57007 8.93958L4.70764 10.4358L3.96973 11.2515C3.69141 11.5587 3.71558 12.033 4.02246 12.3109C4.16602 12.4406 4.34619 12.5046 4.52563 12.5046C4.72998 12.5046 4.93359 12.4215 5.08154 12.2578L5.9458 11.3026L7.82007 12.6145C7.94897 12.705 8.09985 12.75 8.25 12.75C8.40015 12.75 8.55102 12.705 8.67993 12.6145L10.5542 11.3026L11.4185 12.2578C11.5664 12.4215 11.77 12.5046 11.9744 12.5046C12.1538 12.5046 12.334 12.4406 12.4775 12.3109C12.7844 12.033 12.8086 11.5587 12.5303 11.2515L11.7924 10.4358L13.9299 8.93958C13.9304 8.93926 13.9307 8.93884 13.9311 8.93852L15 8.19026V12.75C15 13.9907 13.9907 15 12.75 15ZM5.25 6.75C5.25 6.33582 5.58545 6 6 6H10.5C10.9146 6 11.25 6.33582 11.25 6.75C11.25 7.16419 10.9146 7.5 10.5 7.5H6C5.58545 7.5 5.25 7.16419 5.25 6.75ZM5.25 3.75C5.25 3.33582 5.58545 3 6 3H10.5C10.9146 3 11.25 3.33582 11.25 3.75C11.25 4.16419 10.9146 4.5 10.5 4.5H6C5.58545 4.5 5.25 4.16419 5.25 3.75Z"></path></svg>'
									})

								+buttonGeneral("", {
									href: "javascript:;", 
									variant: "white",
									extraClass: "rounded-full w-auto aspect-square hvr-fade !px-0 justify-center",
									icon: '<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-black group-hover:fill-white grow-0-shrink-0 w-[18px] h-[18px] relative" preserveAspectRatio="xMidYMid meet"><path d="M16.8574 11.085C17.4858 11.0851 17.9999 11.6018 18 12.2334C18 15.4153 15.4227 18 12.2627 18H5.7373C2.57159 18 0 15.4095 0 12.2334C0.000120876 11.6018 0.514207 11.0851 1.14258 11.085C1.77108 11.085 2.28601 11.6017 2.28613 12.2334C2.28613 14.146 3.83445 15.7031 5.7373 15.7031H12.2627C14.1656 15.7031 15.7139 14.146 15.7139 12.2334C15.714 11.6017 16.2289 11.085 16.8574 11.085ZM9.0166 0C9.68517 0 10.2285 0.551413 10.2285 1.21191V9.52832L13.7422 6.04199C14.2108 5.57677 15.0285 5.57677 15.4971 6.04199C15.9827 6.53015 15.9827 7.30563 15.4971 7.78809L10.0225 13.2217C9.82252 13.4341 9.58836 13.6698 9.1543 13.7617C9.08016 13.7846 9.00578 13.7842 8.93164 13.7842C8.40617 13.7842 8.02875 13.4056 7.88574 13.2676V13.2617L2.52539 7.94336C2.27968 7.70213 2.14272 7.34547 2.14844 6.99512C2.15429 6.64493 2.32026 6.30667 2.58301 6.07129C3.09717 5.62342 3.8795 5.63997 4.36523 6.12207L7.79395 9.52832V1.21191C7.79395 0.540027 8.34816 0.000161438 9.0166 0Z"></path></svg>'
									})

								+buttonGeneral("Görüntüle", {
									href: "javascript:;", 
									variant: "blue",
									icon: '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-white group-hover:fill-blue grow-0 shrink-0" preserveAspectRatio="xMidYMid meet"><path d="M15.9639 7.81854C15.8593 7.309 15.5836 7.03981 15.3364 6.80907L9.03257 0.425417C8.4716 -0.141806 7.56835 -0.141806 7.00738 0.425417C6.73165 0.694607 6.58903 1.05994 6.58903 1.45411C6.58903 1.83867 6.74115 2.204 7.00738 2.4828L11.0578 6.57834H1.39767C0.627526 6.57834 0 7.21286 0 8.0012C0 8.78954 0.627526 9.41445 1.39767 9.41445H11.0578L7.10245 13.4138C6.54148 13.9811 6.52247 14.8944 7.04541 15.4905C7.32114 15.7981 7.71097 15.9904 8.11981 16H8.16735C8.56668 16 8.93749 15.8462 9.22273 15.5578L15.4029 9.3087C15.5836 9.12603 16.1255 8.57804 15.9734 7.82815L15.9639 7.81854Z"></path></svg>', 
									iconPos: "right"})

